@page
@model MyApp.Namespace.CrearClienteModel
@{
}
    <h1>Crear Cliente</h1>
<br>
    <form>
        <label for="NombreCliente">Nombre:</label><br>
        <input type="text" id="NombreCliente" name="Nombre"><br>
        <label for="TelefonoCliente">Telefono:</label><br>
        <input type="text" id="TelefonoCliente" name="Telefono"><br><br>
        <input type="submit" value="Enviar">
    </form>