@page
@model MyApp.Namespace.CrearProductoModel
@{
}
<body>
    <h1>Crear Producto</h1>
    <br>
    <form>
        <label for="NombreProducto">Nombre:</label><br>
        <input type="text" id="NombreProducto" name="Nombre"><br>
        <label for="CostoProducto">Valor:</label><br>
        <input type="text" id="CostoProducto" name="Costo"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>

