@page
@model MyApp.Namespace.EditarProductoModel
@{
}
<h1>Editar Producto: @Model.Producto.Nombre</h1>
<form method="post">
    <input type="hidden" asp-for="Producto.Id"/>
    <div class="form-group">
        <label asp-for="Producto.Nombre"></label>
        <input asp-for="Producto.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Producto.Valor"></label>
        <input asp-for="Producto.Valor" class="form-control">
    </div>
    <div class="form-group">
        <label >Empresa</label>
        <select asp-for="Producto.ProductoEmpresasLink" class="form-control">
            @foreach (var empresa in @Model.Empresas)
            {
                <option value=@empresa.IdEmpresa>@empresa.Nombre</option>
            }  
        </select>  
    </div>

    <button type="submit" class="btn btn-primary">Grabar</button>

</form>
<br>
<a asp-page="/Entities/Producto/Detalles" class="btn-default">Volver a productos</a>