@page
@model MyApp.Namespace.ProductoModel
@{
}
<h1>Listado de Productos</h1>
<table class ="Table">
    @foreach (var producto in Model.Productos)
    {
        <tr>
            <td>
                @producto
            </td>

        </tr>
    }
</table>