@page
@model MyApp.Namespace.CrearEmpresaModel
@{
}
<h1>Crear Empresa</h1>
<br>
    <form>
        <label for="NombreEmpresa">Nombre:</label><br>
        <input type="text" id="NombreEmpresa" name="Nombre"><br>
        <label for="NitEmpresa">Nit:</label><br>
        <input type="text" id="NitEmpresa" name="Nit"><br><br>
        <input type="submit" value="Enviar">
    </form>