@page
@model MyApp.Namespace.DetallesEmpresaModel
@{
}
<head>
    <style>
        tr {border-bottom: 1px solid #ddd;}
    </style>
</head>
<body>
    <h1>Listado de Empresas</h1>
    <table style="width:100%" class ="Table">
        <tr>
            <th>Nombre</th>
            <th>Nit</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var empresa in Model.Empresas)
        {
            <tr>
                <td>@empresa.Nombre</td>
                <td>@empresa.Nit</td>
                <td><a asp-page="/Entities/Empresa/Editar" asp-route-empresaId="@empresa.Id"><i class="fas fa-edit"></i></a></td>
                <td><a asp-page="/Entities/Empresa/Eliminar" asp-route-empresaId="@empresa.Id"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        }
    </table>
    <div>
        <br>
        <a href="/Entities/Empresa/Editar" class="btn btn-primary">Crear Empresa</a>
    </div>
</body>