@page
@model MyApp.Namespace.CrearDirectivoModel
@{
}
<h1>Crear Directivo</h1>
<br>
    <form>
        <label for="NombreDirectivo">Nombre:</label><br>
        <input type="text" id="NombreDirectivo" name="Nombre"><br>
        <label for="CategoriaDirectivo">Categoria:</label><br>
        <input type="text" id="CategoriaDirectivo" name="Categoria"><br><br>
        <input type="submit" value="Enviar">
    </form>