@page
@model MyApp.Namespace.DirectivoModel
@{
}
<h1>Listado de Directivos</h1>
<table class ="Table">
    @foreach (var directivo in Model.Directivos)
    {
        <tr>
            <td>
                @directivo.Nombre
            </td>

        </tr>
    }
</table>