@page
@model MyApp.Namespace.EliminarDirectivoModel
@{
}
<h1>Eliminar Directivo </h1>
<br/>
<p>Está seguro de que desea eliminar este directivo?</p>
<br/>

<div>
     @Html.DisplayFor(model => model.Directivo.Nombre)
</div>
<br/>

<form method="post">
    <input type="hidden" asp-for="Directivo.Id" />
    <input type="submit" value="Eliminar" class="btn btn-danger" />
</form>