@page
@model MyApp.Namespace.CrearEmpleadoModel
@{
}
<h1>Crear Empleado</h1>
<br>
    <form>
        <label for="NombreEmpleado">Nombre:</label><br>
        <input type="text" id="NombreEmpleado" name="Nombre"><br>
        <label for="DocumentoEmpleado">Documento:</label><br>
        <input type="text" id="DocumentoEmpleado" name="Documento"><br>
        <label for="SalarioEmpleado">Salario:</label><br>
        <input type="text" id="SalarioEmpleado" name="Salario"><br>
        <label for="FechaNacimientoEmpleado">Fecha de nacimiento:</label><br>
        <input type="date" id="FechaNacimientoEmpleado" name="FechaNacimiento"><br><br>
        <input type="submit" value="Enviar">
    </form>