@page
@model MyApp.Namespace.EmpleadoModel
@{
}
<h1>Listado de Empleados</h1>
<table class ="Table">
    @foreach (var empleado in Model.Empleados)
    {
        <tr>
            <td>
                @empleado.Nombre
            </td>

        </tr>
    }
</table>