@page
@model IndexModel
@{
    ViewData["Title"] = "Administrador de Empresas";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto Ciclo 3 grupo 51 equipo FENIX DEVELOPMENT.</p>
    <br>
    <br>
    <br>
    <img src="@Url.Content("~/Images/Misiontic.jpg")"  width="400px" height="300px" alt="LogoMisionTic" /> 
    <img src="@Url.Content("~/Images/LogoUdeCaldas.png")" width="300px" height="300px" alt="LogoUdeCaldas"/>
</div>
<br>
<br>
<br>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <table class="table table-sm">
            @foreach (var claim in User.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    }
</div>
