@page
@model IndexModel
@{
    ViewData["Title"] = "Administrador de Empresas";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto Ciclo 3 grupo 51 equipo TEAM TEN.</p>


</div>
