@page
@model PrivacyModel
@{
    ViewData["Title"] = "Participantes";
}
<h1>@ViewData["Title"]</h1>

<p>Willinton Morales Bohórquez.</p>
<p>Jose Lorenzo Rosas Paipa.</p>
<p>Monica Lucia Silva Torres.</p>
<p>Jaime Alexis Machado Tovar.</p>
